body {
    padding-top: 70px;
}
.avatar {
    width:40px;
    height:40px;
    margin:5px;
}
.profile-avatar {
    width: 120px;
    height: 120px;
}
.media {
    /*box-shadow:0px 0px 4px -2px #000;*/
    margin: 20px 0;
    padding:30px;
}
.dp {
    border:10px solid #eee;
    transition: all 0.2s ease-in-out;
}
.dp:hover {
    border:2px solid #eee;
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -webkit-font-smoothing:antialiased;
}
a {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.fa-big {
    font-size: 50px;
    text-align: right;
    position: absolute;
    top: 7px;
    right: 18px;
    outline: none;
}
/* Create */
 a.create i, .create h4.list-group-item-heading {
    color:#E48A07;
}
a.create:hover {
    background-color:#E48A07;
}
a.create:hover * {
    color:#FFF;
}
/* Help */
 a.help i, .help h4.list-group-item-heading {
    color:#44bbff;
    ;
}
a.help:hover {
    background-color:#44bbff;
    ;
}
a.help:hover * {
    color:#FFF;
}
.nav-pills>li>a {
    border-radius: 4px 4px 0 0;
}
#tasklist {
    margin:0px;
}
#tasklist li {
    padding:5px 0;
    border-top:1px solid #eee;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}
#tasklist li:hover {
    background-color: #eee;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}
#tasklist li:first-child {
    padding:5px 0;
    border-top:5px solid #eee;
}
#tasklist .author {
    width:60px;
    height:100%;
    text-align:center;
    float:left;
}
#tasklist .content {
    height: 100%;
    margin-left: 60px;
}
#tasklist .content h5 {
    color:#567daa;
    margin:5px 0 5px 0;
}
#tasklist .content h4 {
    color:#567daa;
}
#tasklist .content .information {
    overflow:hidden;
    margin:5px 0;
}
#tasklist .content .information h4 {
    margin:0;
}
#tasklist .content .infoleft {
    float:left;
    margin-right:20px;
}
#tasklist .content .inforight {
    float:right;
    margin-right:10px;
}