body {
    padding-top: 70px;
}
.avatar {
    width:40px;
    height:40px;
    margin:5px;
}
#searchBtn {
    border-radius: 18px;
}

#task-content h3{
	color:#567daa;
}
#task-content h4{
	background-color:#eee;
	padding:10px 10px 10px;
	border-radius:8px;
	color:#777;
	font-weight:normal;
}
#task-content p{
	
}

.overview{
	background-color:#eee;
	padding:25px;
	border-radius:5px;
	margin-top:20px;
}

.overview .applybtn{
	padding:10px 15px;
	width:70%;
	font-size:16px;
	margin:20px auto;
}

.overview label{
	color:#777;
	margin-top:20px;
}

.overview ul{
}

.overview ul li{
	overflow:hidden;
	padding:11px 3px;
	border-top:1px solid #aaa;
}
.overview ul li:first-child{
	border-top:none;
}
.overview ul li .pull-left{
	color:#777;
}

.overview ul li .pull-right:hover{
	color:#567daa;
}
